<!DOCTYPE html>
<html>
<head>
  <title>Financeiro</title>
  <%= stylesheet_link_tag    "financeiro/application", media: "all" %>
  <%= javascript_include_tag "financeiro/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
